<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="/assets/css/calculator.css">
</head>
<body>

    <h1>Hello my friend</h1>
    <p>If you need some help to calculate something, just get my help!</p>

    <form method="post">
        <input type="number" name="firstnr">

        <input  name = "operation">

        <input type="number" name="secondnr" required>
        <button type = "submit">Get result</button>
    </form>
</body>
</html>